@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

:root {
    --bg: #272727;
    --accent: #F64253
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parent{
    display: flex;
    height: 100vh;
    flex-direction: row;
}

nav {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: none;
    order: 1;
    border: 20px;
    border-color: aqua;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.icons{
    display: flex;
    flex-direction: column;
    height: 35vh;
    align-items: center;
}

.top-icons{
    justify-content: center;
}

.middle-icons{
    justify-content:flex-start;
    flex-direction: column;
}

.bottom-icons{
    justify-content:flex-start;
}

nav ul li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: var(--accent);
    transition: transform 0.3s cubic-bezier(0.925, 0.150, 0.505, 1.030);
}

nav ul li p{
    color: aliceblue;
}

.home-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    transition: transform 0.3s cubic-bezier(0.925, 0.150, 0.505, 1.030);
}

.fa-house{
    color: black;
    transform: scale(1.7);
}

.home-button:hover{
    transform: scale(1.1);
}

nav ul li a:hover{
    transform: scale(1.1);
}

.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    order: 3;
    overflow: auto;
}

.main .line{
    background-color: var(--accent);
    width: 25px;
    height: 2px;
}

.main .latest{
    position: relative;
    top: 15vh;
    left: -35vw;
}

.blog-wrapper{
    display: flex;
    position: relative;
    left:0px;
    width: 85vw;
    top: 22vh;
}

.title{
    font-size: 25px;
    font-family: 'Nanum Myeongjo', serif;
    color: var(--accent);
    padding: 10px;
}

.left-div{
    display: flex;
    flex-direction: column;
    order: 1;
}

.right-div{
    order: 2;
}

.date{
    text-align: right;
    font-size: 28px;
    padding: 10px;
}

.username-div{
    display: flex;
    justify-content: end;
    padding: 5px;
}

.username{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.blog{
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.blog .content{
    order: 1;
}

.blog .image{
    order: 2;
}

.blog .discription{  
    padding: 10px;
    padding-bottom:0px;
}

.blog .readmore{  
    color: var(--accent);
    padding: 0px;
}

.blog button{
    border: 2px solid var(--accent);
    color: var(--accent);
    padding: 10px 20px;
    background-color: var(--bg);
    border-radius: 100px;
}

.blog .tags{
    padding-top: 10px;
    padding-bottom: 2px;
}

.blog img{  
    padding: 10px;
    padding-top: 0px;
    height: 20vh;
    border-radius: 0 20px 20px 0px;
}

@media only screen and (max-width : 720px) {

.parent{
    flex-direction: column;
}

.main{ 
    order: 1;
    height: 90vh;
    overflow-x: hidden;
}

nav{
    display: inline-block;
    order: 3;
}

nav ul{
    flex-direction: row;
}

nav ul li a{
    padding: 10px;
}

.icons{
    height: 10vh;
    width: auto;
    justify-content: center;
}

.top-icons{
    flex-direction: row;
    width: 35vw;
}

.middle-icons{
    flex-direction: row;
    width: 35vw;
}

.bottom-icons{
    flex-direction: row;
    width: 35vw;
}

.main .latest{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 8vh;
    left: 0vw;
}

.main .line{
    background-color: var(--accent);
    width: 50px;
    height: 2px;
}

.blog{
    flex-direction: column;
}

.blog-wrapper{
    flex-direction: column;
    top: 15vh;
}

.left-div{
    flex-direction: row;
    order: 2;
}

.date{
    text-align: left;
    width: 50vw;
    font-size: 18px;
    padding: 5px;
    padding-top: 0px;
    padding-left: 15px;
}

.username-div{
    width: 50vw;
    padding-top: 0px;
    justify-content: right;
    padding-right: 10px;
}

.username{
    writing-mode:horizontal-tb;
    transform: none;
}

.right-div{
    order: 1;
}

.blog .content{
    order: 2;
}

.blog .image{
    order: 1;
}

.blog img{
    padding-left: 0px;
    padding-bottom: 0px;
    border-radius: 0px;
}

.blog .tags {
    padding-top: 5px;
    padding-bottom: 2px;
}

.blog button{
    border: 2px solid var(--accent);
    color: var(--accent);
    padding: 5px 10px;
    background-color: var(--bg);
    border-radius: 100px;
}

}